{
  "extends": "react-app",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "warring",
      {
        "aspects": [
          "preferButton"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error", //检查 Hook 的规则
    "react-hooks/exhaustive-deps": "warn", //检查 effect 的依赖
    "no-script-url": 0,
    "no-control-regex": 0,
    "quotes": [
      "warn",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "no-console": [
      "off"
    ],
    "indent": [
      "error",
      2
    ]


  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}