.nav-wrapper {
  height: 30px;
  position: sticky;
  top: 0;
  z-index: 9999;
  ul {
    display: flex;
    list-style: none;
    li {
      flex: 1;
      text-align: center;
      a {
        text-decoration: none;
      }
    }
  }
}
