/**
 * @author wuaixiaoyao
 * @date 2019/8/30
 * @Description:
*/

.nav-wrapper {
    height: 30px;
    ul {
        display: flex;
        list-style: none;
        li {
            flex: 1;
            text-align: center;
            a {
                text-decoration: none;
            }
        }
    }
}
